<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a>
                    SHORT URL WEB APP
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/urls">Stored URLs</a></li>
                <li><a href="/urls/new">Create new short URL</a></li>
            </ul>

        </div>
    </nav>
</html>