<!DOCTYPE html>''
<html lang="en">
<head>
  <% include partials/_header.ejs %>
</head>
<body style="width:250px">
  <ul>
    <% url.forEach( (url) => {%>
        <li><%= url.shortURL %> - <%= url.longURL%></li>
        <form method="POST" action="/urls/<%=url.shortURL%>?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <button style="padding-left:250px;" type ="submit">DELETE</button>
        </form>
        <form>
        <button><a href="<%= `/urls/${url.shortURL}` %>">EDIT</a></button>
        </form>
    <% }); %>
  </ul>

</body>
</html>